* {
    box-sizing: border-box;
}
.imgnobel {
    width: 100%;
    max-width: 100%;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.chuthichimgnobel{
    font-size: 16px;
    max-width: 1200px;
    max-width: 100%;
    margin-left: 8%;
    margin-right:8%;
    font-family: Arial, Helvetica, sans-serif;
}
.tieudeafnobel{
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
}
.hr1{
 margin-right: 20%;
 margin-left: 20%;
margin-top: 40px;
margin-bottom: 20px;
}
.noidungnobel1{
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 1.375em;
}
.caunoinobel {
    font-size: 2.1em;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modau{
    font-size: 1.125em;
    margin-right: 20%;
    margin-left: 20%;
}
.trichdan{
    margin-right: 20%;
    margin-left: 20%;
    font-size: 1.3em;
    text-align: left;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding-top: 15px;

}
   











body {
    margin: 50px;
  }
  .header {
    text-align: center;
  }
  .tieude {
    color: rgb(230, 140, 23);
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .inmenu {
    max-width: 1500px;
    margin: 0 auto;
  
  }
  .menu {
    justify-items: center;
    background-color: rgb(247, 247, 247);
    margin-bottom: 5px;
  }
  .mainmenu {
   display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mainmenu li a {
    color: black;
    display: inline;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
   margin-left: 33px;
    text-align: center;
  }
  .mainmenu li {
    float:left;
    
  }
  
  
  
  li a {
    font-size: 20px;
  }
  .menu li a:hover {
    background-color: rgb(234, 162, 68);
  }
  .image {
    width:100%;
    max-width: 100%;
    height: auto;
    display: block;
  
  }
  
   /* footer */
  footer {
    background-color: rgb(247, 247, 247);
    border: 0.2px solid rgb(206, 191, 191);
    margin-top: 20px;
    border-radius: 8px;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .ft {
    float: left;
    padding: 10px;
  }
  .ft.dstha {
    width: 30%;
  }
  .ft.contact {
    width: 35%;
  }
  .ft.follow {
    width: 35%;
  }
  @media screen and (max-width: 600px) {
    .ft.contact, .ft.follow, .ft.follow {
      width: 100%;
    }
  }
  .ft.dstha {
    position: relative;
    display: inline-block;
  }

  .thaxuong-content {
    display: contents;
    position: absolute;
    background-color: rgb(190, 187, 187);
    min-width: 160px;
    z-index: 1;
  }
  .thaxuong-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  .thaxuong-content a:hover {
    background-color: rgb(234, 162, 68);
  }
  .ft.dstha:hover .thaxuong {
    background-color: rgb(234, 162, 68);
  }
 .ft.contact a {
  text-decoration: none;
  color: black;
  font-size: 20pxpx; 
 }
 .ft.contact li {
    margin-left: 30px;
 }
 .ft.contact {
  padding: 20px;
 }
.mxh a i {
  width: 50px;
  font-size: 30px;
  color: rgb(29, 10, 238);
}
.mxh a i:hover {
  color: rgb(245, 149, 24);
}
.menuphu {
  list-style: none;
} 
.menuphu li {
    margin: 20px;
  font-size: 20px;
}
.menuphu li a:hover {
 color: rgb(245, 149, 24);
}









.cacgiaithuong {
  margin-left: 20%;
  font-size: 2em;
  margin-right: 20%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cacgiainobel{
  margin-left: 20%;
  margin-right: 20%;
}
.huychuongnobel{
  width: 270px;
  float: right;
}
.chitietcacgiaithuong{
  font-size: 1.125em;
}
form.imghuychuong {
  background-color: rgb(253, 254, 255);
  border: 0.5px solid rgb(175, 169, 169);
  float: right;
  width: 275px;
}
.nobellifeandwork{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
}
.tieudenobellifeandwork{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 2.5em;
}
.tieude2{
  font-size: 1.8em;
  margin-top: 30px;
}
a.noidunglifeandworknobel {
  text-decoration: none;
  color: rgb(48, 48, 207);
  font-size: 1.3em;
  
}
a.noidunglifeandworknobel:hover {
  color: rgb(181, 181, 77);
}
.byof {
  margin-top: 30px;
  font-size: 1.2em;
  margin-bottom: 50px;
}
.listgiaithuongcuanobel{
  margin-top: 60px;
  text-decoration: none;
  color: rgb(48, 48, 207);
  font-size: 1.3em;

}
.nhacuanobel {
  margin-left: 20%;
  margin-right: 20%;
}
.tieudenhanobel{
  font-size: 2.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chuthichnhanobel{
  font-size: 1.125em;
}
.duoinhanobel {
  font-size: 1.125em;
  text-decoration: none;
  color: rgb(48, 48, 207)

}
.shareand2022{
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}
i {
  margin-right: 5px;
}
i:hover {
  color: rgb(181, 181, 77) ;
}